html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222 ;
  font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
}
.desc {
  position: absolute;
  top: 0;
  left: 0;
  margin:5px;
  padding:10px;
  #background-color: #111 ;
}

.network{
  position: fixed;
  bottom: 5px;
  right: 10px;
}

/* CHART */
svg{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222 ;
}


.axis path, .axis line {
  fill: none;
  stroke: #eee;
  stroke-width: 1.5px;
}
.axis text {
  fill: #eee;
}
.axis text.bonus {
  fill: #bbb;
}


.lines path {
  fill: none;
  stroke-width: 2px;
}

.members text {
  fill: #eee;
  font-weight: normal;
}

.members text.highlight{
  fill: #ff0;
  font-weight: bold;
}
.lines path.highlight {
  stroke: #ff0;
  stroke-width: 5px;
}